# Ignore temporary files
*.log
*_with_coords.csv
output_*.csv
*.sqlite
parks.csv
parks_with_coords.csv
__pycache__/
*.pyc
knmi_station_data/station_metrics.csv
knmi_station_data/station_metrics.geojson
knmi_station_data/station_metrics_map.html

